<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.3/phpunit.xsd"
	backupGlobals="false"
	colors="true"
	backupStaticAttributes="false"
	bootstrap="vendor/autoload.php"
>
	<testsuites>
		<testsuite name="MySQL compatibility functions for SQLite">
			<directory>./tests/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./</directory>
			<exclude>
				<directory>vendor</directory>
				<directory>tests</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
